.App {
  text-align: center;
  background-color: #f5f5dc;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textContainer {
  background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-style: oblique;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: calc(1.2em + 2vmin);
}

.textContainer > p:nth-child(2) {
  font-size: calc(0.6em + 2vmin);
}

.textContainer > p:nth-child(3) {
  font-size: calc(0.5em + 2vmin);
}

.mainPoemText {
  font-size: calc(0.5em + 2vmin);
}

h3 {
  font-size: calc(0.6em + 2vmin);
  margin: 0;
}

.chapterTitle {
  font-size: calc(1em + 2vmin);
  margin: 1%;
}
