body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "EB Garamond", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blockquote-8 {
  position: relative;
  padding: 16px 24px;
  margin: 16px 46px;
  font-size: calc(1.4em + 1vmin);
  text-align: center;
}
.blockquote-8:before,
.blockquote-8:after {
  position: absolute;
  color: #384d4d;
  font-size: 100px;
  font-family: Times, sans-serif;
  line-height: 100px;
}
.blockquote-8:before {
  content: "“";
  left: -30px;
  top: -10px;
}
.blockquote-8:after {
  content: "”";
  right: -30px;
  bottom: -10px;
}
.blockquote-8 cite {
  color: #384d4d;
  font-size: calc(0.4em + 1vmin);
  padding-top: 10px;
  display: block;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 3%;
}

.scroll {
  opacity: 0.3;
  background-color: #384d4d;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
  font-size: 20px;
}
